<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjs.examfrog.other.mapper.SubtaskFileMapper">

    <update id="recoveryDeletedBySubtaskIdList">
        UPDATE subtask_file
        SET is_delete = 0
        WHERE is_delete = 1
        <if test="subtaskIdList != null and subtaskIdList.size() > 0">
            AND subtask_id IN
            <foreach collection="subtaskIdList" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </if>
    </update>

    <delete id="deleteDeletedBySubtaskIdList">
        DELETE FROM subtask_file
        WHERE is_delete = 1
        <if test="subtaskIdList != null and subtaskIdList.size() > 0">
            AND subtask_id IN
            <foreach collection="subtaskIdList" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </if>
    </delete>

</mapper>
